@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@import "../../styles/variables";

.todoform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    &_title,
    &_description,
    &_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & label {
            font-family: "Overpass", sans-serif;
            font-size: 1.5em;
        }
    }

    &_input,
    &_text {
        width: 100%;
        padding: 7px 5px;
        box-sizing: border-box;
        resize: none;
        font-size: 1em;
        font-family: "Roboto Serif", sans-serif;
        outline: none;
        border: 2px solid rgba(105, 105, 105, 0.596);
        border-radius: 5px;

        &:focus {
            border: 2px solid $primary;
        }
    }

    &_text {
        overflow: auto;
        height: 8.4em;
    }

    &_footer {
        flex-direction: row;
        justify-content: flex-end;

        & > *:not(:last-child) {
            margin-right: 5px;
        }
    }

    &_button {
        @include button_style;
    }

    &-dark {
        & .todoform {
            &_input,
            &_text {
                background-color: $background-dark;
                color: #ccc;
            }
        }
    }
}
