$mobile-breakpoint: 426px;
$tablet-breakpoint: 769px;
$navbar-height: 60px;

$primary: #ff8e43;

$warning-red: #ff8789;
$button-text: #c35257;
$button-background: #ffc7a244;

$button-background-dark: #ffdcc6;

$background-dark: #1a1a1a;
$background-dark-secondary: #313338;

@mixin button_style {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $button-background;
    color: $button-text;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 10px;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #ffceb780;
        box-shadow: 0 0 5px $button-background-dark;
    }

    &-dark {
        background-color: $button-background-dark;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $button-background-dark;
            box-shadow: 0 0 5px $button-background-dark;
        }
    }
}
