@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import "../../styles/variables";

.card {
    &_container {
        // border: 2px solid rgb(199, 199, 199);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
        padding: 10px;
        height: 155px;
        background-color: #fff;

        display: flex;
        flex-direction: column;
        gap: 5px;

        &[data-theme="dark"] {
            background-color: $background-dark-secondary;

            & .card {
                &_header {
                    // & h3 {
                    //     color: rgb(218, 218, 218);
                    // }

                    &-completed {
                        & h3 {
                            color: rgb(131, 131, 131);
                            &::after {
                                background-color: rgb(131, 131, 131);
                            }
                        }
                    }
                }

                // &_description {
                //     color: #fff;
                // }
            }
        }
    }

    &_header {
        flex: 0;
        text-align: left;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & h3 {
            margin: 0;
            padding: 0 3px;
            font-family: "Overpass", sans-serif;
            font-size: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            transition: all 0.5s cubic-bezier(0, 0, 0.085, 0.47);

            &::after {
                content: "";
                position: absolute;
                height: 0.1em;
                background-color: rgb(131, 131, 131);
                border-radius: 5px;
                width: 0;
                top: 45%;
                left: 0;
                transition: all 0.5s cubic-bezier(0, 0, 0.085, 0.47);
            }
        }

        &-completed {
            & h3 {
                color: rgb(131, 131, 131);
                &::after {
                    width: 100%;
                }
            }

            & .card {
                &_checkbox {
                    background-color: $primary;

                    & > * {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &_checkbox {
        display: inline-block;
        box-sizing: border-box;
        height: 1.4em;
        width: 1.4em;
        min-width: 1.4em;
        border: 2px solid #ff8e43de;
        border-radius: 5px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #fff;

        font-size: 1.5rem;

        & > * {
            display: none;
        }
    }

    &_main {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 5px;
        min-height: 0;
    }

    &_description {
        flex: 2;
        min-height: 0;
        padding-right: 2.3em;
        font-family: "Overpass", sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_footer {
        flex: 1;

        display: flex;
        justify-content: space-between;

        & div {
            display: flex;
            justify-content: flex-end;
        }
    }

    &_button {
        width: 2em;
        @include button_style;
        padding: 0;
        font-size: 1.2rem;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &-delete {
            background: none;
            border: 2px solid $warning-red;
            color: $warning-red;
        }
    }
}
