@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

.card {
    &_container {
        // border: 2px solid rgb(199, 199, 199);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(73, 73, 73, 0.555);
        padding: 5px 10px;
        height: 155px;

        display: flex;
        flex-direction: column;
        gap: 5px;

        &-completed {
            & .card {
                &_checkbox {
                    background-color: rgb(255, 142, 67);

                    & > * {
                        display: inline-block;
                    }
                }

                &_header {
                    & h3 {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &_header {
        flex: 0;

        padding: 5px 0;
        text-align: left;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & h3 {
            margin: 0;
            font-family: "Overpass", sans-serif;
            font-size: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                border-top: 3px solid #000;
                top: 45%;
                left: 0;
                transition: 0.15s linear;
            }
        }
    }

    &_checkbox {
        display: inline-block;
        box-sizing: border-box;
        height: 1.4em;
        width: 1.4em;
        min-width: 1.4em;
        border: 2px solid rgba(255, 142, 67, 0.87);
        border-radius: 5px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #fff;

        font-size: 1.5rem;

        & > * {
            display: none;
        }
    }

    &_main {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 5px;
        min-height: 0;
    }

    &_description {
        flex: 2;
        min-height: 0;
        padding-right: 2.3em;
        font-family: "Overpass", sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_footer {
        flex: 1;

        display: flex;
        justify-content: space-between;

        & div {
            display: flex;
            justify-content: flex-end;
        }
    }

    &_button {
        width: 2em;
        border: none;
        border-radius: 5px;
        background: #ffc7a244;
        color: #c35257;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &-delete {
            background: none;
            border: 2px solid #ff8789;
            color: #ff8789;
        }
    }
}
