@import "../../styles/variables";

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: rgba(0, 0, 0, 0.363);
    z-index: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: ease-in-out 0.3s;

    &[hidden] {
        display: none;
    }

    &_container {
        background: #fff;
        width: 100vw;
        height: 100vh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);

        & > * {
            padding: 10px 15px;
        }
    }

    & header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &_main {
        overflow: auto;
    }

    &_button {
        &-return {
            @include button_style;
            margin-right: 10px;
            margin-left: -5px;
            border: none;
            font-size: 1.4rem;
            background: none;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            padding: 5px 5px;

            &-dark {
                background: none;
            }
            & * {
                stroke-width: 3;
            }
        }
    }

    &-dark {
        & .modal_container {
            background-color: $background-dark-secondary;
        }
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .modal {
        &_container {
            width: 400px;
            height: auto;
            max-height: 600px;
            border-radius: 10px;
        }
    }
}
