@import "../styles/variables";

:root {
  &.dark {
    background-color: $background-dark;

    & p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    div {
      color: #ccc;
    }
  }
}

.main {
  margin: 15px;
}
.emptyList_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - $navbar-height - 30px); // full height - navbar height - container margin
  & img {
    width: 60vmin;
    height: auto;
  }
}
