@import "../styles/variables";

body {
  background-color: $background-dark;
}

.main {
  margin: 15px;
}
.emptyList_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - $navbar-height - 30px); // full height - navbar height - container margin
  & img {
    width: 60vmin;
    height: auto;
  }
}
