.list {
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    // box-sizing: border-box;
    padding: 5px 15px;
  }

  &_card {
    height: 150px;
    flex: 1 1 100%;
  }
}

@media screen and (min-width: 585px) {
  .list {
    &_card {
      // max-width: calc((100% / 2) - 30px);
      flex: 1 1 calc((100% / 2) - 30px);
    }
  }
}

@media screen and (min-width: 769px) {
  .list {
    &_card {
      // max-width: calc((100% / 3) - 30px);
      flex: 1 1 calc((100% / 3) - 30px);
    }
  }
}
