@import "../../styles/variables";
.navbar {
    box-sizing: border-box;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    background: #fff;
    z-index: 100;

    padding: 10px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);

    &-dark {
        background-color: $background-dark-secondary;
    }

    &_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-height: 100%;
    }

    &_leftHand {
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        & img {
            max-height: 40px;
            width: auto;
        }
    }

    &_rightHand {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    &_button {
        @include button_style;
        font-weight: 600;
        font-size: 1rem;
        padding: 5px 10px;

        &-theme {
            font-size: 1.6rem;
            border-radius: 50%;
            background: none;

            &:hover {
                background: none;
                box-shadow: none;
            }
        }
    }
}
